*{
    margin: 0;
    padding: 0;
    font-size:14px 
}
* { touch-action: pan-y; }
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
body{
    height: 100vh !important;
}
li{
    list-style: none;
}
a{
    color: black;
}
p{
    margin-bottom: 0px;
}
.mui-bar-tab .mui-tab-item.mui-active {
    color: 	#6E8B3D;
    font-weight: bold;
}
.content-container{ 
    height: 100vh;
    background: white;
}
.main-content{
    height: 100%;
}
.fun-label{
    border-left: ##458B00 5px solid;
    padding-left: 10px;
}
.header{
    height: 40px;
    display: flex;
    align-items: center;
}
.back-header{
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 998;
}
.center-header{
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
}
.mui-backdrop{
    z-index: 1;
  }
  .com-container{
      margin-top: 40px;
     
  }